*{
    margin: 0;
    padding: 0;
}

.container-cover {
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
    background-image: url(fotos/gradienta-t-Rt42Wl1RQ-unsplash\ \(1\).jpg);
    background-position: center;
    background-size: cover;

}

.container-info-cover {
    margin: auto;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container-info-cover h1 {
    color: white;
    font-size: 80px;
    bottom: 50px;
}

.container-info-cover p {
    font-size: 18px;
    font-weight: 300;
}

